.Rproj.user
SigPoisProcess/.Rproj.user
.Rhistory
SigPoisProcess/.Rhistory
.RData
SigPoisProcess/.RData
.Ruserdata


.DS_Store

*.Rproj
SigPoisProcess.Rcheck/

data/
old_files/
output/

R/old_scripts/
