.Rproj.user
SigPoisProcess/.Rproj.user
.Rhistory
SigPoisProcess/.Rhistory
.RData
SigPoisProcess/.RData
.Ruserdata


.DS_Store

*.Rproj
SigPoisProcess.Rcheck/

# Ignore everything in data/
data/*

# Except tdata for application and data for figure 1
!data/data_for_application/
!data/data_for_application/**

!data/data_for_figure1/
!data/data_for_figure1/**


old_files/

output/*
!output/Simulation/simulation_results2.tsv

R/old_scripts/
R/old_cpp_files/

