.Rproj.user
SigPoisProcess/.Rproj.user
.Rhistory
SigPoisProcess/.Rhistory
.RData
SigPoisProcess/.RData
SigPoisProcess/R/old_scripts
.Ruserdata
.DS_Store
*.Rproj
SigPoisProcess.Rcheck/


# Data files
data/*
!data/data_for_application/
!data/data_for_application/**
!data/data_for_figure1/
!data/data_for_figure1/**


# Output files
output/*
!output/Simulation/simulation_results2.tsv
!output/Application/
!output/Application/Breast_DeNovo/
!output/Application/Breast_DeNovo/**
output/Application/Breast_DeNovo/MapSolutions/Replicate03/MCMCSolution.rds.gzip
!output/Application/Breast_refit/
!output/Application/Breast_refit/**
output/Application/Breast_refit/MCMCSolution_SemiSupervised_noMap.rds.gzip

# Additional folders with old files
old_files/
R/old_scripts/
figures/old_figures/
R/scripts_for_data_download/
R/old_cpp_files/

